fastapi
uvicorn
sqlalchemy
pydantic[email]
python-multipart
PyMuPDF
pytesseract
Pillow
numpy
opencv-python
sentence-transformers
chromadb
python-docx
google-generativeai
python-dotenv
weasyprint
ollama
aiohttp
fpdf

bcrypt
PyJWT
